.cuerpo{
    font-family: Arial, sans-serif;
    font-size: 14px;
    /*border: 2px solid yellow;*/
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 5% auto;
    box-shadow: 0 -4px 8px rgba(149, 89, 5, 0.1), 0 4px 8px rgba(9, 9, 215, 0.1);
}

.cuerpo :first-child{
    margin: 5px;
}
.col_datos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.col_datos button{
    display: flex;
    color: white;
    background: #4E598C;
    border-radius: 8px;
    padding: 2%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.col_datos button:hover {
    background: #1ec0ca;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 8px;
    bottom: 20%;
}

.col_datos input[id="frecuencia"] {
        padding: 3px;
        width: 40px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 2%;
}

.col_datos input[id="tiempo"] {
    padding: 3px;
    width: 70px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2%;
}
.col_datos input[id="costoConsulta"] {
    width: 98%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    width: 100%;
    min-height: 40px;
    padding: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 4px;
}

.datos {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: black;
    align-items: center;
}

.datos label {
    display: inline-flex;
    align-items: center;  /* Alinea verticalmente el contenido (checkbox y texto) */
    margin: 2%;
}

.datos img{
    width: 14%;
    height: auto;
    border-radius: 40%;
    object-fit: cover;
}
/* Estilo de los títulos (etiquetas) */
.col_datos label {
    background-color: #FF8C42;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}
