#cuerpo_div_index{
    background-color: #FCAF58;
    padding: 5px;
    width: auto;
    border-radius: 10px;
    margin: 7% auto;
    overflow: auto;
}

.busca_lugar_especialidad {
    background-color: white;
    padding: 20px;

}

.buscador {
    padding: 1%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.buscar_especialidad_lugar {
    display: flex;
}

.buscar_especialidad_lugar input {
    background-color: white;
    border: 1px solid #FCAF58;
    border-radius: 0 50px 50px 0;
    padding: 10px;
    width: 200px;
    outline: none;
}


.buscar_especialidad_lugar span {
    margin-left: 10px;
    background-color: #ccc;
    border: 1px solid #ccc;
    padding: 10px 10px;
    font-size: 14px;
    color: #424242;
    border-radius: 10px 0px 0px 10px;
}

.medicos{
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    overflow: hidden;
}

.informacion_medico{
    display: flex;
    align-items: center;
    margin: 1%;
}

.medicos h5{
    color: black;
    font-weight: bold;
}

.medicos p{
    color: black;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0px;
}

.id_medico{
    color: darkorange;
}

.medicos img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1%;
}

.informacion_personal{
    width: max-content;
    min-width: 220px;
    white-space: normal;
}
.dias{
    justify-content: center;
}
.dias p{
    color: #FCAF58;
    font-size: large;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.cada_cita {
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cada_cita form {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, auto);
}

.btn_schedule{
    background-color: #4E598C !important;
    white-space: nowrap;
    margin: 1%;
    padding: 8px 15px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

#cuerpo_div_index button, .historial_col button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
}

#cuerpo_div_index button:hover, .historial_col button:hover{
    background-color: lightslategrey ;
}

.oculto {
    display: none;
}

.toggleDias:checked ~ div .oculto {
    display: block;
}

.btn_toggle {
    margin-top: 10px;
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn_toggle:hover {
    text-decoration: underline;
}

.ver_mas{
   align-content: center;
}

@media (prefers-reduced-motion: no-preference) {
    .medicos img:hover{
        animation: App-logo-spin infinite 0.1s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}