.divFormLogin {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: ghostwhite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.LoginBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.buttonLogin {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
}

.buttonLogin:hover {
    background-color: #0056b3;
}

.iconLogin {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}

.loginFieldsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}


.loginField {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 300px;
    justify-content: center;
}

.loginField i{
    margin-right: 12px;
}
.loginField input {
    width: 60%;
    padding: 8px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="text"], input[type="password"] {
    width: 60%;
    padding: 8px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.TituloLogin {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.RegisterHere{
    text-align: center;
    margin-top: 20px;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInOut 3s ease-in-out;
    z-index: 1000;
}

.toast.success {
    background-color: rgba(40, 167, 69, 0.9);
}

.toast.error {
    background-color: rgba(220, 53, 69, 0.9);
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-20px); }
}
